<%= form_with(model: request_subject, local: true) do |form| %>
  <% if request_subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request_subject.errors.count, "error") %> prohibited this request_subject from being saved:</h2>

      <ul>
      <% request_subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :request_id %>
    <%= form.text_field :request_id %>
  </div>

  <div class="field">
    <%= form.label :subject_name %>
    <%= form.text_field :subject_name %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
