
<tr>
    <td class="uppercase">Identifiant d'utilisateur</td>
    <td><%= @config.smtp_user_name if @config.smtp_user_name.present? %></td>
</tr>


<tr>
    <td class="uppercase">Adrsse serveur SMTP</td>
    <td><%= @config.smtp_address if @config.smtp_address.present? %></td>
</tr>

<tr>
<td class="uppercase">Port SMTP</td>
<td><%= @config.smtp_port if @config.smtp_port.present? %></td>
</tr>

<tr>
<td class="uppercase">Type d'authentification</td>
<td><%= @config.smtp_authentification if @config.smtp_authentification.present? %></td>
</tr>

<tr>
<td class="uppercase">Start TLS auto </td>
<td><%= @config.smtp_enable_starttls_auto if @config.smtp_enable_starttls_auto.present? %></td>
</tr>
<tr>
<td class="uppercase"> SSL </td>
<td><%= @config.smtp_ssl if @config.smtp_ssl.present? %></td>
</tr>