 <% @request_imputations.each do |request_imputation| %>
    <tr>
    <td><%= service(request_imputation.service_id).name %></td>
    <td><%= get_user(request_imputation.receiver_id).profile.full_name %></td>
    <td><%= request_imputation.request_id %></td>
     <td>
   

          <div class="action-buttons">
          <%= link_to raw('<i class="fa fa-tasks" aria-hidden="true"></i>'), request_imputation_items_path(request_imputation), title: "Tâches" %>
          <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
    '),  edit_request_imputation_path(request_imputation), title: "Modifier", remote: false %>


      <%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
      '), request_imputation_delete_path(request_imputation), remote: true, title: "Supprimer", class: "delete" %>
      </div>
      </td>
    </tr>
<% end %>