<tr class="nested-fields">

    
    <td>
    <%= f.collection_select(:task_id, @tasks, :id, :title, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%") %> 

    </td>
     <td>
        <%= f.text_area :description, class: "form-control", required: true %>
    </td>
    <td>
        <%= f.date_field :start_date, class: "form-control", required: true %>
    </td>

    <td>
        <%= f.date_field :end_date, class: "form-control", required: true %>
    </td>
    
     <td>
    <%= f.collection_select(:task_status_id, @task_statuses, :id, :name, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%") %> 

    </td>
    <td>
      
    <%= link_to_remove_association raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), f, class: 'delete' %>
  
    </td>



</tr>