<p id="notice"><%= notice %></p>

<p>
  <strong>Support:</strong>
  <%= @document.support %>
</p>

<p>
  <strong>Nature:</strong>
  <%= @document.nature %>
</p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @document.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @document.user %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
