<p id="notice"><%= notice %></p>

<h1>Task Time Trackings</h1>

<table>
  <thead>
    <tr>
      <th>Imputation item</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_time_trackings.each do |task_time_tracking| %>
      <tr>
        <td><%= task_time_tracking.imputation_item %></td>
        <td><%= task_time_tracking.start_date %></td>
        <td><%= task_time_tracking.end_date %></td>
        <td><%= task_time_tracking.status %></td>
        <td><%= link_to 'Show', task_time_tracking %></td>
        <td><%= link_to 'Edit', edit_task_time_tracking_path(task_time_tracking) %></td>
        <td><%= link_to 'Destroy', task_time_tracking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task Time Tracking', new_task_time_tracking_path %>
