<p id="notice"><%= notice %></p>

<p>
  <strong>Imputation item:</strong>
  <%= @task_time_tracking.imputation_item %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @task_time_tracking.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @task_time_tracking.end_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task_time_tracking.status %>
</p>

<%= link_to 'Edit', edit_task_time_tracking_path(@task_time_tracking) %> |
<%= link_to 'Back', task_time_trackings_path %>
