<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @index.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @index.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @index.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @index.user %>
</p>

<%= link_to 'Edit', edit_index_path(@index) %> |
<%= link_to 'Back', indices_path %>
