<%= form_with(model: ability_item, local: true) do |form| %>
  <% if ability_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ability_item.errors.count, "error") %> prohibited this ability_item from being saved:</h2>

      <ul>
      <% ability_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ability_id %>
    <%= form.text_field :ability_id %>
  </div>

  <div class="field">
    <%= form.label :permission_id %>
    <%= form.text_field :permission_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
