<p id="notice"><%= notice %></p>

<h1>Ability Items</h1>

<table>
  <thead>
    <tr>
      <th>Ability</th>
      <th>Permission</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ability_items.each do |ability_item| %>
      <tr>
        <td><%= ability_item.ability %></td>
        <td><%= ability_item.permission %></td>
        <td><%= ability_item.status %></td>
        <td><%= link_to 'Show', ability_item %></td>
        <td><%= link_to 'Edit', edit_ability_item_path(ability_item) %></td>
        <td><%= link_to 'Destroy', ability_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ability Item', new_ability_item_path %>
